doctype 5
html
  head
    title Mimosa
    script(type='text/javascript')
      var GEE_SERVER_URL = "http://gmdemo.keyhole.com";
      //Include server defs
      defsPath = GEE_SERVER_URL + '/query?request=Json&var=geeServerDefs';
      document.write('<script src="' + defsPath + '" type="text/javascript"><\/script>');

    script(type='text/javascript')
      window.geeServerDefs = geeServerDefs;

    script(src='/javascripts/vendor/heatmap.js')
    script(src='/javascripts/vendor/QuadTree.js')

    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    link(rel='stylesheet', href='/stylesheets/vendor/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/vendor/leaflet.draw.css')
    link(rel='stylesheet', href='/stylesheets/vendor/MarkerCluster.Default.css')


    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    if optimize
      script(src='/javascripts/main-built.js')
    else
      script(src='/javascripts/vendor/require.js', data-main='/javascripts/main.js')

  body
    block content
